.footer {
  margin-top: 50px;
  color: #2c2e35;
  flex-shrink: 0;
  font-family: Montserrat, serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #fee742;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
